{
  "openapi": "3.0.2",
  "info": {
    "description": "Ehitise kehtivate andmete teenused [https://git.ehr.ee/ehr/ehr-k8s-pipeline/buildings-actual-data-api](https://git.ehr.ee/ehr/ehr-k8s-pipeline/buildings-actual-data-api)",
    "version": "1.0.1",
    "title": "Buildings Actual Data API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "ulo.puskar@kemit.ee"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://devkluster.ehr.ee/api/building",
      "description": "Development version"
    },
    {
      "url": "https://devkluster.ehr.ee/api/building",
      "description": "Deprecated version Development server"
    },
    {
      "url": "https://testkluster.ehr.ee/api/building",
      "description": "Test version"
    },
    {
      "url": "https://prelivekluster.ehr.ee/api/building",
      "description": "Prelive server"
    },
    {
      "url": "https://livekluster.ehr.ee/api/building",
      "description": "Live server"
    }
  ],
  "tags": [
    {
      "name": "Ehitised",
      "description": "Ehitise kehtivaid andmeid tagastavad teenused",
      "externalDocs": {
        "description": "Vaata lisainfot",
        "url": "https://git.ehr.ee/ehr/ehr-k8s-pipeline/buildings-actual-data-api"
      }
    }
  ],
  "paths": {
    "/v2/find/ehrcodes/dateafter": {
      "get": {
        "summary": "tagastab max 1000 aktuaalsete ehitiste EHR koodi, mida on muudetud pärast teatud hetke",
        "tags": [
          "Ehitised"
        ],
        "description": "max 1000 ehitist, mille aktualiseerimise hetk on võrdne või hilisem kui timestamp. Ehitised tagastatakse järjestatult timestamp ja ehit_id alusel",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "description": "timestamp (vähemalt sekundi täpsusega) -> ISO-8601 -> \"YYYY-MM-DDTHH:mm:ss.SSSZ\"",
            "required": true,
            "schema": {
              "example": "2020-01-16T19:20:30",
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "väärtus mille võrra liigutakse päringu vastustes edasi, kui = 1000 siis tagastatakse kirjed alates 1000 + 1",
            "required": false,
            "schema": {
              "example": 1000,
              "type": "number",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitiste EHR koodid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ehrCodes"
                }
              }
            }
          },
          "400": {
            "description": "not valid timestamp path variable"
          },
          "500": {
            "description": "something went wrong"
          }
        }
      }
    },
    "/v2/find/ehrcodes/docId": {
      "get": {
        "summary": "tagastab kõigi ehitiste EHR koodid, mis on aktualiseeritud dokumendiga mille ID on suurem või võrdne kui antud dokumendi ID",
        "tags": [
          "Ehitised"
        ],
        "description": "kõigi ehitiste EHR koodid, mille aktualiseerimise dokumendi number on suurem või võrdne kui sisendi dokumendi ID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "dokumendi ID",
            "required": true,
            "schema": {
              "example": 80000000,
              "type": "number",
              "format": "int64",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitiste EHR koodid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ehrCodes"
                }
              }
            }
          },
          "400": {
            "description": "not valid id path variable"
          },
          "500": {
            "description": "something went wrong"
          }
        }
      }
    },
    "/v2/buildingData": {
      "get": {
        "summary": "tagastab EHR koodi alusel ehitise kehtivad andmed",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab Ehitise kehtivad andmed JSON/XML formaadis",
        "parameters": [
          {
            "name": "ehr_code",
            "in": "query",
            "description": "EHR kood, juhul kui puudub kasutatakse ehr_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ehr_id",
            "in": "query",
            "description": "Ehitise ID, pole kohustuslik",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Ehitise versiooni number, kui lisatud tagastatakse ehitise konkreetne versioon, kui puudub tagastatakse ehitise kõige viimane versioon.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "json",
            "in": "query",
            "description": "Kas andmed tagastatakse JSON formaadis või XML formaadis. Kui puudub siis JSON",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitis ja sellega seotud objektid",
            "content": {
              "v3-application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitisBuildingDataV3"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitisBuildingData"
                    }
                  }
                }
              },
              "application-old-version/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitis_old"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown EHR code!"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v3/buildingData": {
      "get": {
        "summary": "tagastab EHR koodi alusel ehitise kehtivad andmed V3",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab Ehitise kehtivad andmed JSON/XML formaadis",
        "parameters": [
          {
            "name": "ehr_code",
            "in": "query",
            "description": "EHR kood, juhul kui puudub kasutatakse ehr_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ehr_id",
            "in": "query",
            "description": "Ehitise ID, pole kohustuslik",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Ehitise versiooni number, kui lisatud tagastatakse ehitise konkreetne versioon, kui puudub tagastatakse ehitise kõige viimane versioon.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "json",
            "in": "query",
            "description": "Kas andmed tagastatakse JSON formaadis või XML formaadis. Kui puudub siis JSON",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitis ja sellega seotud objektid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitisBuildingDataV3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown EHR code!"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingsData": {
      "post": {
        "summary": "tagastab EHR koodide alusel ehitiste kehtivad andmed",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab ehitiste kehtivad andmed JSON formaadis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ehrCodesPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON formaadis ehitised ja nendega seotud objektid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ehitis": {
                        "$ref": "#/components/schemas/ehitisBuildingData"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unknown EHR codes!"
          }
        }
      }
    },
    "/v2/buildingVersions": {
      "get": {
        "summary": "Tagastab ehitise EH kihis olevate versioonide info",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab JSON formaadis ehitse andmete versioonide info",
        "parameters": [
          {
            "name": "ehr_code",
            "in": "query",
            "description": "ehitise EHR kood",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitise versioonid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/versions"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown Building!"
          }
        }
      }
    },
    "/v2/buildingChanges": {
      "get": {
        "summary": "Tagastab ehitise versiooni andmete muudatused",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab JSON formaadis ehitise kehtiva versiooni ja mõne teise dokumendi versiooni andmete erinevused. Tegevus I - lisatud, U - muudetud, D - kustutatud",
        "parameters": [
          {
            "name": "ehr_code",
            "in": "query",
            "description": "ehitise EHR kood",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "dok_nr",
            "in": "query",
            "description": "dokumendi number, millega võrrelda",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis muudatused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitisVersioon"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Building with specified ehr_code Not Found"
          },
          "401": {
            "description": "Building has only 1 version"
          },
          "404": {
            "description": "Document with specified dok_nr was not found"
          }
        }
      }
    },
    "/v2/buildingCompare": {
      "get": {
        "summary": "Tagastab kahe ehitise versiooni vahelise võrdluse tulemused",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab JSON formaadis ehitise 2 versiooni võrdluse. Tulemused iga andmevälja kohta&#58; \"unchanged\", \"created\", \"updated\", \"deleted\"",
        "parameters": [
          {
            "name": "do_ehitis_id1",
            "in": "query",
            "description": "esimese võrreldava ehitise do_ehitis_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6413990
          },
          {
            "name": "do_ehitis_id2",
            "in": "query",
            "description": "teise võrreldava ehitise do_ehitis_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4161310
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis muudatused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitisch"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Building with specified id Not Found"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingSecureCompare": {
      "get": {
        "summary": "Tagastab kahe ehitise versiooni piiratud juurdepääsuga andmete vahelise võrdluse tulemused\n",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab JSON formaadis ehitise 2 versiooni piiratud andmete võrdluse. Tulemused iga andmevälja kohta&#58; \"unchanged\", \"created\", \"updated\", \"deleted\" Juurdepääs teenusele on tagatud Eehitus Access tokeniga. Grant type: Client credentials Client Id: \"actualBuilding\"\n",
        "parameters": [
          {
            "name": "do_ehitis_id1",
            "in": "query",
            "description": "esimese võrreldava ehitise do_ehitis_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 6413990
          },
          {
            "name": "do_ehitis_id2",
            "in": "query",
            "description": "teise võrreldava ehitise do_ehitis_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 4161310
          }
        ],
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis muudatused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ehitis": {
                      "$ref": "#/components/schemas/ehitisSecureCh"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Building with specified id Not Found"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingSecureData": {
      "get": {
        "summary": "tagastab EHR koodi alusel ehitise kehtivad piiratud juurdepääsuga andmed",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab Ehitise piiratud juurdepääsuga kehtivad andmed JSON/XML formaadis\n",
        "parameters": [
          {
            "name": "ehr_code",
            "in": "query",
            "description": "EHR kood, juhul kui puudub kasutatakse ehr_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ehr_id",
            "in": "query",
            "description": "Ehitise ID, pole kohustuslik",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitis ja sellega seotud objektid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ehitisSecure"
                }
              }
            }
          },
          "400": {
            "description": "Building Not Found!"
          },
          "403": {
            "description": "Permission denied!"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingSecureDataArray": {
      "post": {
        "summary": "tagastab EHR koodide massiivi alusel ehitiste kehtivad juurdepääsu piiranguga andmed",
        "tags": [
          "Ehitised"
        ],
        "description": "Tagastab ehitiste piiranguga kehtivad andmed JSON formaadis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ehrCodesPostRequestArray"
              }
            }
          }
        },
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "JSON formaadis ehitised ja nendega seotud objektid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ehitisSecure"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Building Not Found!"
          }
        }
      }
    },
    "/v2/buildingSearch": {
      "post": {
        "summary": "otsib ehitisi body-s olevate filtriväljade alusel",
        "tags": [
          "Ehitised"
        ],
        "description": "Ehitiste otsing mis tagastab 500 kirjet (LIMIT 500), vastavalt filtriväljades\n toodud tingimustele.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bSearchPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "tagastab ehitise kirjed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Building Not Found!"
          },
          "422": {
            "description": "Wrong DB Query"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingOwnerSearch": {
      "post": {
        "summary": "otsib ehitisi body-s olevate filtriväljade alusel ja tagastab ka omaniku andmed",
        "tags": [
          "Ehitised"
        ],
        "description": "Ehitiste otsing mis tagastab 500 kirjet (LIMIT 500), vastavalt filtriväljades\n toodud tingimustele. Omaniku andmete otsinguks peavad olema MKM KOV Notar jne õigused\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bSearchOPostRequest"
              }
            }
          }
        },
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "tagastab ehitise kirjed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bSearchOResponse"
                }
              }
            }
          },
          "400": {
            "description": "Building Not Found!"
          },
          "422": {
            "description": "Wrong DB Query"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingSearchPageable": {
      "post": {
        "summary": "otsib ehitisi body-s olevate filtriväljade alusel ja tagastab tulemused lehekülgede kaupa",
        "tags": [
          "Ehitised"
        ],
        "description": "Lehekülgede kaupa ehitiste otsing, mis võimaldab sorteerimist ja täpset tulemuste arvu. Toetab kõiki samu filtreid mis /v2/buildingSearch. Vaikimisi tagastab 25 kirjet lehe kohta, maksimaalselt 100.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bSearchPageablePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "tagastab ehitise kirjed koos lehekülgede metaandmetega",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bSearchPageableResponse"
                }
              }
            }
          },
          "400": {
            "description": "Building Not Found! või Invalid sort field"
          },
          "422": {
            "description": "Wrong DB Query"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/buildingOwnerSearchPageable": {
      "post": {
        "summary": "otsib ehitisi body-s olevate filtriväljade alusel, tagastab tulemused lehekülgede kaupa ja omaniku andmed",
        "tags": [
          "Ehitised"
        ],
        "description": "Lehekülgede kaupa ehitiste otsing koos omaniku andmetega, mis võimaldab sorteerimist ja täpset tulemuste arvu. Omaniku andmete otsinguks peavad olema MKM KOV Notar jne õigused. Vaikimisi tagastab 25 kirjet lehe kohta, maksimaalselt 100.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/bSearchPageableOPostRequest"
              }
            }
          }
        },
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "tagastab ehitise kirjed koos omaniku andmete ja lehekülgede metaandmetega",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bSearchPageableOResponse"
                }
              }
            }
          },
          "400": {
            "description": "Building Not Found! või Invalid sort field"
          },
          "422": {
            "description": "Wrong DB Query"
          },
          "500": {
            "description": "returns error message realated to problem"
          }
        }
      }
    },
    "/v2/shelterSearch": {
      "post": {
        "summary": "otsib varjendeid body-s olevate filtriväljade alusel (kaitstud)",
        "tags": [
          "Ehitised"
        ],
        "description": "Varjendite otsing lehekülgede kaupa, vastavalt body-s toodud filtritele. Nõuab autentimist. Päring vahendatakse turvatud EHR teenusele (/api/varjend/otsing).\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "lehekülje number (0-st alates)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "lehekülje suurus",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sorteerimisväljad kujul `väli,asc|desc`. Mitut väärtust saab anda korduva parameetriga.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "shelterArea,asc"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shelterSearchRequest"
              }
            }
          }
        },
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "lehekülg leitud varjenditega",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/shelterSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Not authorised"
          },
          "500": {
            "description": "returns error message related to problem"
          }
        }
      }
    },
    "/v2/shelterSearch/export": {
      "post": {
        "summary": "ekspordib varjendite otsingu tulemused XLSX failina (kaitstud)",
        "tags": [
          "Ehitised"
        ],
        "description": "Varjendite otsingute tulemused eksporditakse Excel failina (XLSX). Nõuab autentimist. Tagastab sama filtriväljadega tulemused kui shelterSearch. Päring vahendatakse turvatud EHR teenusele (/api/varjend/otsing/eksport).\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/shelterSearchRequest"
              }
            }
          }
        },
        "security": [
          {
            "oAuthSample": []
          }
        ],
        "responses": {
          "200": {
            "description": "XLSX fail varjendite andmetega",
            "content": {
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Excel fail (XLSX)"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Not authorised"
          },
          "500": {
            "description": "returns error message related to problem"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "shelterSearchRequest": {
        "type": "object",
        "properties": {
          "buildingLocation": {
            "type": "string",
            "description": "aadressi otsingusõne"
          },
          "purposeOfUse": {
            "type": "array",
            "description": "hoone kasutusotstarbed",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "ocurringPurposeOfUse": {
            "type": "array",
            "description": "esinevad kasutusotstarbed",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "publicShelter": {
            "type": "boolean",
            "description": "avalik varjend",
            "default": false
          },
          "privateShelter": {
            "type": "boolean",
            "description": "erivarjend",
            "default": false
          },
          "shelterEstablishYear": {
            "type": "object",
            "description": "varjendi rajamise aasta vahemik",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "shelterArea": {
            "type": "object",
            "description": "varjendi pindala vahemik (m2)",
            "properties": {
              "from": {
                "type": "number"
              },
              "to": {
                "type": "number"
              }
            }
          },
          "protectionClass": {
            "type": "array",
            "description": "kaitseklassid",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "shelterSearchResponse": {
        "type": "object",
        "description": "Spring Page kujul vastus, vahendatud turvatud EHR teenusest",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "number": {
            "type": "integer"
          }
        }
      },
      "bSearchOPostRequest": {
        "type": "object",
        "properties": {
          "buildingLocation": {
            "type": "string"
          },
          "buildingName": {
            "type": "string"
          },
          "buildingStates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "firstUseDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "firstUseMissing": {
            "type": "boolean"
          },
          "buildingType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "heritage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/heritageArray"
            }
          },
          "purposeOfUse": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "ownershipType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ownershipTypeArray"
            }
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "ownerTypeArray": {
        "type": "object",
        "properties": {
          "riik": {
            "type": "string"
          },
          "jinimi": {
            "type": "string"
          },
          "eesnimi": {
            "type": "string"
          },
          "isik_id": {
            "type": "string"
          },
          "regKood": {
            "type": "string"
          },
          "perenimi": {
            "type": "string"
          },
          "synniaeg": {
            "type": "string"
          },
          "aadrTekst": {
            "type": "string"
          },
          "isikukood": {
            "type": "string"
          }
        }
      },
      "bSearchPostRequest": {
        "type": "object",
        "properties": {
          "buildingLocation": {
            "type": "string"
          },
          "buildingName": {
            "type": "string"
          },
          "buildingStates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "firstUseDate": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "firstUseMissing": {
            "type": "boolean"
          },
          "heritage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/heritageArray"
            }
          },
          "buildingType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "purposeOfUse": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "ownershipType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ownershipTypeArray"
            }
          }
        }
      },
      "bSearchPageablePostRequest": {
        "type": "object",
        "properties": {
          "buildingLocation": {
            "type": "string",
            "description": "Ehitise aadress, EHR kood (9 numbrit) või ehitise osa kood (7 numbrit)"
          },
          "buildingName": {
            "type": "string",
            "description": "Ehitise nimetus"
          },
          "buildingStates": {
            "type": "array",
            "description": "Ehitise seisundi filtrid",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "firstUseDate": {
            "type": "object",
            "description": "Esmase kasutuselevõtu aasta vahemik",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "firstUseMissing": {
            "type": "boolean",
            "description": "Kas otsida ehitisi, millel esmane kasutuselevõtt puudub"
          },
          "heritage": {
            "type": "array",
            "description": "Mälestise liigi filtrid",
            "items": {
              "$ref": "#/components/schemas/heritageArray"
            }
          },
          "buildingType": {
            "type": "array",
            "description": "Ehitise liigi filtrid",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "purposeOfUse": {
            "type": "array",
            "description": "Kasutamise otstarbe filtrid",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "ownershipType": {
            "type": "array",
            "description": "Omandiliigi filtrid",
            "items": {
              "$ref": "#/components/schemas/ownershipTypeArray"
            }
          },
          "lastRegisteredDocumentType": {
            "type": "array",
            "description": "Dokumendi liigi filtrid (5-kohaline number, ekstraktitakse dokumendi numbrist)",
            "items": {
              "type": "string"
            },
            "example": [
              "11529",
              "12345"
            ]
          },
          "ocurringPurposeOfUse": {
            "type": "array",
            "description": "Ehitises esinev kasutamise otstarve (otsib kõikide kasutusotstarvetega, mitte ainult peamine)",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "page": {
            "type": "integer",
            "description": "Lehekülg number (vaikimisi 1)",
            "minimum": 1,
            "default": 1,
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Kirjete arv lehel (vaikimisi 25, maksimaalselt 100)",
            "minimum": 1,
            "maximum": 100,
            "default": 25,
            "example": 25
          },
          "sortField": {
            "type": "string",
            "description": "Väli, mille järgi sorteeritakse",
            "enum": [
              "ehrCode",
              "buildingId",
              "buildingName",
              "buildingType",
              "firstUseDate",
              "underArea",
              "floorCount",
              "ownershipType",
              "purposeOfUse",
              "state",
              "stateCode",
              "documentNumber",
              "documentType"
            ],
            "default": "ehrCode",
            "example": "ehrCode"
          },
          "sortDir": {
            "type": "string",
            "description": "Sorteerimise suund",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc",
            "example": "asc"
          }
        }
      },
      "bSearchPageableOPostRequest": {
        "type": "object",
        "properties": {
          "buildingLocation": {
            "type": "string",
            "description": "Ehitise aadress, EHR kood (9 numbrit) või ehitise osa kood (7 numbrit)"
          },
          "buildingName": {
            "type": "string",
            "description": "Ehitise nimetus"
          },
          "buildingStates": {
            "type": "array",
            "description": "Ehitise seisundi filtrid",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "firstUseDate": {
            "type": "object",
            "description": "Esmase kasutuselevõtu aasta vahemik",
            "properties": {
              "from": {
                "type": "string"
              },
              "to": {
                "type": "string"
              }
            }
          },
          "firstUseMissing": {
            "type": "boolean",
            "description": "Kas otsida ehitisi, millel esmane kasutuselevõtt puudub"
          },
          "buildingType": {
            "type": "array",
            "description": "Ehitise liigi filtrid",
            "items": {
              "$ref": "#/components/schemas/buildingTypeArray"
            }
          },
          "heritage": {
            "type": "array",
            "description": "Mälestise liigi filtrid",
            "items": {
              "$ref": "#/components/schemas/heritageArray"
            }
          },
          "purposeOfUse": {
            "type": "array",
            "description": "Kasutamise otstarbe filtrid",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "ownershipType": {
            "type": "array",
            "description": "Omandiliigi filtrid",
            "items": {
              "$ref": "#/components/schemas/ownershipTypeArray"
            }
          },
          "owner": {
            "type": "string",
            "description": "Omaniku nimi (nõuab autentimist)"
          },
          "lastRegisteredDocumentType": {
            "type": "array",
            "description": "Dokumendi liigi filtrid (5-kohaline number, ekstraktitakse dokumendi numbrist)",
            "items": {
              "type": "string"
            },
            "example": [
              "11529",
              "12345"
            ]
          },
          "ocurringPurposeOfUse": {
            "type": "array",
            "description": "Ehitises esinev kasutamise otstarve (otsib kõikide kasutusotstarvetega, mitte ainult peamine)",
            "items": {
              "$ref": "#/components/schemas/purposeOfUseArray"
            }
          },
          "page": {
            "type": "integer",
            "description": "Lehekülg number (vaikimisi 1)",
            "minimum": 1,
            "default": 1,
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Kirjete arv lehel (vaikimisi 25, maksimaalselt 100)",
            "minimum": 1,
            "maximum": 100,
            "default": 25,
            "example": 25
          },
          "sortField": {
            "type": "string",
            "description": "Väli, mille järgi sorteeritakse",
            "enum": [
              "ehrCode",
              "buildingId",
              "buildingName",
              "buildingType",
              "firstUseDate",
              "underArea",
              "floorCount",
              "ownershipType",
              "purposeOfUse",
              "state",
              "stateCode",
              "documentNumber",
              "documentType"
            ],
            "default": "ehrCode",
            "example": "ehrCode"
          },
          "sortDir": {
            "type": "string",
            "description": "Sorteerimise suund",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc",
            "example": "asc"
          }
        }
      },
      "bSearchOResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/bSearchOResponseArray"
        }
      },
      "bSearchOResponseArray": {
        "type": "object",
        "properties": {
          "ehrCode": {
            "type": "string"
          },
          "buildingaddress": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/buildingaddressArray"
            }
          },
          "buildingId": {
            "type": "integer"
          },
          "buildingName": {
            "type": "string"
          },
          "buildingType": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "firstUseDate": {
            "type": "string"
          },
          "heritage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/heritagesArray"
            }
          },
          "underArea": {
            "type": "string"
          },
          "floorCount": {
            "type": "string"
          },
          "owner": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ownerTypeArray"
            }
          },
          "ownershipType": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "purposeOfUse": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "buildingState": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "documentNumber": {
            "type": "string",
            "description": "Dokumendi number (nt. \"2111529/100203005\")",
            "example": "2111529/100203005"
          },
          "documentType": {
            "type": "string",
            "description": "Dokumendi liik (5-kohaline number, ekstraktitud numbrist)",
            "example": "11529"
          },
          "geometry": {
            "type": "object",
            "description": "Ehitise geomeetria andmed GeoJSON Feature formaadis",
            "$ref": "#/components/schemas/geoJsonFeature"
          }
        }
      },
      "bSearchResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/bSearchResponseArray"
        }
      },
      "bSearchResponseArray": {
        "type": "object",
        "properties": {
          "ehrCode": {
            "type": "string"
          },
          "buildingaddress": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/buildingaddressArray"
            }
          },
          "buildingId": {
            "type": "integer"
          },
          "buildingName": {
            "type": "string"
          },
          "buildingType": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "firstUseDate": {
            "type": "string"
          },
          "heritage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/heritagesArray"
            }
          },
          "underArea": {
            "type": "string"
          },
          "floorCount": {
            "type": "string"
          },
          "ownershipType": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "purposeOfUse": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "buildingState": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "documentNumber": {
            "type": "string",
            "description": "Dokumendi number (nt. \"2111529/100203005\")",
            "example": "2111529/100203005"
          },
          "documentType": {
            "type": "string",
            "description": "Dokumendi liik (5-kohaline number, ekstraktitud numbrist)",
            "example": "11529"
          },
          "geometry": {
            "type": "object",
            "description": "Ehitise geomeetria andmed GeoJSON Feature formaadis",
            "$ref": "#/components/schemas/geoJsonFeature"
          }
        }
      },
      "buildingTypeArray": {
        "type": "string"
      },
      "heritageArray": {
        "type": "string"
      },
      "buildingaddressArray": {
        "type": "string"
      },
      "heritagesArray": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "geoJsonFeatureCollection": {
        "type": "object",
        "description": "GeoJSON FeatureCollection objekt",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "FeatureCollection"
            ],
            "example": "FeatureCollection"
          },
          "features": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/geoJsonFeature"
            }
          }
        }
      },
      "geoJsonFeature": {
        "type": "object",
        "description": "GeoJSON Feature objekt",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Feature"
            ],
            "example": "Feature"
          },
          "geometry": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/geoJsonPoint"
              },
              {
                "$ref": "#/components/schemas/geoJsonLineString"
              },
              {
                "$ref": "#/components/schemas/geoJsonPolygon"
              }
            ]
          },
          "properties": {
            "type": "object",
            "description": "Lisaomadused",
            "properties": {
              "nahtus": {
                "type": "string",
                "description": "Nähtuse liik",
                "example": "RAJATIS"
              },
              "nahtusTxt": {
                "type": "string",
                "description": "Nähtuse liigi kirjeldus",
                "example": "iseseisev muu rajatis"
              },
              "nimetus": {
                "type": "string",
                "description": "Kuju nimetus",
                "nullable": true
              },
              "pindala": {
                "type": "string",
                "description": "Kuju pindala",
                "nullable": true
              },
              "lahiaadress": {
                "type": "string",
                "description": "Lähiaadress",
                "example": "Räägu tänav T1"
              },
              "taisaadress": {
                "type": "string",
                "description": "Täisaadress",
                "example": "Harju maakond, Tallinn, Kristiine linnaosa, Räägu tänav T1"
              }
            }
          }
        }
      },
      "geoJsonPoint": {
        "type": "object",
        "description": "GeoJSON Point geomeetria",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Point"
            ],
            "example": "Point"
          },
          "coordinates": {
            "type": "array",
            "description": "[longitude, latitude]",
            "items": {
              "type": "number"
            },
            "minItems": 2,
            "maxItems": 2,
            "example": [
              24.7535747,
              59.4369608
            ]
          }
        }
      },
      "geoJsonLineString": {
        "type": "object",
        "description": "GeoJSON LineString geomeetria",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "LineString"
            ],
            "example": "LineString"
          },
          "coordinates": {
            "type": "array",
            "description": "Array of [longitude, latitude] pairs",
            "items": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "minItems": 2
            },
            "example": [
              [
                24.7535,
                59.4369
              ],
              [
                24.7536,
                59.437
              ]
            ]
          }
        }
      },
      "geoJsonPolygon": {
        "type": "object",
        "description": "GeoJSON Polygon geomeetria",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Polygon"
            ],
            "example": "Polygon"
          },
          "coordinates": {
            "type": "array",
            "description": "Array of linear rings (first is exterior, rest are holes)",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "number"
                },
                "minItems": 2
              }
            },
            "example": [
              [
                [
                  24.7535,
                  59.4369
                ],
                [
                  24.7536,
                  59.437
                ],
                [
                  24.7537,
                  59.4369
                ],
                [
                  24.7535,
                  59.4369
                ]
              ]
            ]
          }
        }
      },
      "bSearchPageableResponse": {
        "type": "object",
        "description": "Lehekülgede kaupa tagastatud ehitiste otsingu vastus",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Praegune lehekülg",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Kirjete arv lehel",
            "example": 25
          },
          "total": {
            "type": "integer",
            "description": "Kokku tulemuste arv",
            "example": 150
          },
          "sortField": {
            "type": "string",
            "description": "Väli, mille järgi on sorteeritud",
            "example": "ehrCode"
          },
          "sortDir": {
            "type": "string",
            "description": "Sorteerimise suund",
            "enum": [
              "ASC",
              "DESC"
            ],
            "example": "ASC"
          },
          "data": {
            "type": "array",
            "description": "Ehitiste massiiv",
            "items": {
              "$ref": "#/components/schemas/bSearchResponseArray"
            }
          }
        }
      },
      "bSearchPageableOResponse": {
        "type": "object",
        "description": "Lehekülgede kaupa tagastatud ehitiste otsingu vastus koos omaniku andmetega",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Praegune lehekülg",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Kirjete arv lehel",
            "example": 25
          },
          "total": {
            "type": "integer",
            "description": "Kokku tulemuste arv",
            "example": 150
          },
          "sortField": {
            "type": "string",
            "description": "Väli, mille järgi on sorteeritud",
            "example": "ehrCode"
          },
          "sortDir": {
            "type": "string",
            "description": "Sorteerimise suund",
            "enum": [
              "ASC",
              "DESC"
            ],
            "example": "ASC"
          },
          "data": {
            "type": "array",
            "description": "Ehitiste massiiv koos omaniku andmetega",
            "items": {
              "$ref": "#/components/schemas/bSearchOResponseArray"
            }
          }
        }
      },
      "ownershipTypeArray": {
        "type": "string"
      },
      "purposeOfUseArray": {
        "type": "string"
      },
      "deepCopy": {
        "type": "object",
        "properties": {
          "newEhitId": {
            "type": "string"
          },
          "oldEhitId": {
            "type": "string"
          }
        }
      },
      "ehitis_old": {
        "type": "object",
        "properties": {
          "ehitiseAndmed": {
            "$ref": "#/components/schemas/ehitiseAndmed"
          },
          "ehitisePohiandmed": {
            "$ref": "#/components/schemas/ehitisePohiandmed"
          },
          "ehitiseAadressid": {
            "$ref": "#/components/schemas/ehitiseAadressid"
          },
          "ehitiseTehnilisedNaitajad": {
            "$ref": "#/components/schemas/ehitiseTehnilisedNaitajad"
          },
          "ehitiseKasutusotstarbed": {
            "$ref": "#/components/schemas/ehitiseKasutusotstarbed"
          },
          "ehitiseEnergiamargised": {
            "$ref": "#/components/schemas/ehitiseEnergiamargised"
          },
          "ehitiseKatastriyksused": {
            "$ref": "#/components/schemas/ehitiseKatastriyksused"
          },
          "ehitiseKujud": {
            "$ref": "#/components/schemas/ehitiseKujud"
          },
          "ehitiseOsad": {
            "$ref": "#/components/schemas/ehitiseOsad"
          }
        }
      },
      "ehrCodes": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "ehr_kood": {
              "example": "121313725",
              "type": "string"
            },
            "ehitId": {
              "type": "string"
            },
            "timestamp": {
              "type": "string",
              "example": "2021-09-20T05:02:53.813Z"
            }
          }
        }
      },
      "ehitisBuildingDataV3": {
        "type": "object",
        "properties": {
          "ehitiseAndmed": {
            "$ref": "#/components/schemas/ehitiseAndmedV3"
          },
          "ehitisePohiandmed": {
            "$ref": "#/components/schemas/ehitisePohiandmedV3"
          },
          "ehitiseAadressid": {
            "$ref": "#/components/schemas/ehitiseAadressid"
          },
          "ehitiseTehnilisedNaitajad": {
            "$ref": "#/components/schemas/ehitiseTehnilisedNaitajad"
          },
          "ehitiseKasutusotstarbed": {
            "$ref": "#/components/schemas/ehitiseKasutusotstarbed"
          },
          "ehitiseEnergiamargised": {
            "$ref": "#/components/schemas/ehitiseEnergiamargisedV3"
          },
          "ehitiseKatastriyksused": {
            "$ref": "#/components/schemas/ehitiseKatastriyksused"
          },
          "ehitiseKujud": {
            "$ref": "#/components/schemas/ehitiseKujud2"
          },
          "ehitiseKehand": {
            "$ref": "#/components/schemas/ehitiseKehandV3"
          }
        }
      },
      "ehitisBuildingData": {
        "type": "object",
        "properties": {
          "ehitiseAndmed": {
            "$ref": "#/components/schemas/ehitiseAndmed"
          },
          "ehitisePohiandmed": {
            "$ref": "#/components/schemas/ehitisePohiandmed"
          },
          "ehitiseAadressid": {
            "$ref": "#/components/schemas/ehitiseAadressid"
          },
          "ehitiseTehnilisedNaitajad": {
            "$ref": "#/components/schemas/ehitiseTehnilisedNaitajad"
          },
          "ehitiseKasutusotstarbed": {
            "$ref": "#/components/schemas/ehitiseKasutusotstarbed"
          },
          "ehitiseEnergiamargised": {
            "$ref": "#/components/schemas/ehitiseEnergiamargised"
          },
          "ehitiseKatastriyksused": {
            "$ref": "#/components/schemas/ehitiseKatastriyksused"
          },
          "ehitiseKujud": {
            "$ref": "#/components/schemas/ehitiseKujud2"
          },
          "ehitiseKehand": {
            "$ref": "#/components/schemas/ehitiseKehand"
          }
        }
      },
      "ehitiseKehand": {
        "type": "object",
        "properties": {
          "kehand": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/kehand"
            }
          }
        }
      },
      "kehand": {
        "type": "object",
        "properties": {
          "do_ehitis_kehand_id": {
            "type": "string",
            "example": 9965140
          },
          "hoone_kuju_id": {
            "type": "string",
            "example": 4095559
          },
          "kehandOper": {
            "type": "string",
            "example": "A"
          },
          "esmane_kasutus": {
            "type": "string",
            "example": "2013-03-04"
          },
          "tekkeviis": {
            "type": "string",
            "example": null
          },
          "kehandUpdated": {
            "type": "string",
            "example": null
          },
          "ehitiseOsad": {
            "$ref": "#/components/schemas/ehitiseOsad2"
          }
        }
      },
      "ehitiseKehandV3": {
        "type": "object",
        "properties": {
          "kehand": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/kehandV3"
            }
          }
        }
      },
      "kehandV3": {
        "type": "object",
        "properties": {
          "do_ehitis_kehand_id": {
            "type": "string",
            "example": 9965140
          },
          "hoone_kuju_id": {
            "type": "string",
            "example": 4095559
          },
          "kehandOper": {
            "type": "string",
            "example": "A"
          },
          "esmane_kasutus": {
            "type": "string",
            "example": "2013-03-04"
          },
          "tekkeviis": {
            "type": "string",
            "example": null
          },
          "kehandUpdated": {
            "type": "string",
            "example": null
          },
          "ehitiseOsad": {
            "$ref": "#/components/schemas/ehitiseOsadV3"
          }
        }
      },
      "ehitiseOsad": {
        "type": "object",
        "properties": {
          "ehitiseosa": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ehitiseOsa"
            }
          }
        }
      },
      "ehitiseOsa": {
        "type": "object",
        "properties": {
          "ehitiseOsaPohiandmed": {
            "type": "object",
            "properties": {
              "ehrKood": {
                "type": "string",
                "example": "121324674-3116913"
              },
              "osa_kood": {
                "type": "string",
                "example": 3116913
              },
              "oper": {
                "type": "string",
                "example": "A"
              },
              "adsoid": {
                "type": "string",
                "example": "ER02059001"
              },
              "liik": {
                "type": "string",
                "example": "K"
              },
              "liikTxt": {
                "type": "string",
                "example": "Korter"
              },
              "tahis": {
                "type": "string",
                "example": 3
              },
              "nimetus": {
                "type": "string",
                "example": null
              },
              "markused": {
                "type": "string",
                "example": null
              },
              "id": {
                "type": "string",
                "example": 123456
              },
              "spun_id": {
                "type": "string",
                "example": 12345
              },
              "adob_id": {
                "type": "string",
                "example": 123456
              },
              "ads_esitamine": {
                "type": "string",
                "example": null
              },
              "dokumendil": {
                "type": "string",
                "example": null
              },
              "ehitiseOsaPohiandmed": {
                "type": "object",
                "properties": {
                  "tubadeArv": {
                    "type": "string",
                    "example": 4
                  },
                  "tualettruumide_arv": {
                    "type": "string",
                    "example": 1
                  },
                  "sissepaasuKorrus": {
                    "type": "string",
                    "example": 1
                  },
                  "pind": {
                    "type": "string",
                    "example": 117.1
                  },
                  "kooginish": {
                    "type": "string",
                    "example": 1
                  },
                  "koetavPind": {
                    "type": "string",
                    "example": 117.1
                  },
                  "valipindadePind": {
                    "type": "string",
                    "example": 11.3
                  },
                  "kook": {
                    "type": "string",
                    "example": 1
                  }
                }
              }
            }
          },
          "ehitiseOsaAadressid": {
            "type": "object",
            "properties": {
              "aadress": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/aadress"
                }
              }
            }
          },
          "ehitiseOsaTehnilisedNaitajad": {
            "type": "object",
            "properties": {
              "tehnilineNaitaja": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/tehnilineNaitaja"
                }
              }
            }
          },
          "ehitiseOsaKasutusotstarbed": {
            "type": "string"
          },
          "ruumikuju": {
            "$ref": "#/components/schemas/ruumikuju"
          },
          "aadress": {
            "type": "object",
            "properties": {
              "olekviit": {
                "type": "object",
                "properties": {
                  "olek": {
                    "type": "string"
                  },
                  "olekTxt": {
                    "type": "string",
                    "example": "normaliseerimata"
                  }
                }
              }
            }
          }
        }
      },
      "ehitiseOsad2": {
        "type": "object",
        "properties": {
          "ehitiseOsa": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ehitiseOsa2"
            }
          }
        }
      },
      "ehitiseOsa2": {
        "type": "object",
        "properties": {
          "ehrKood": {
            "type": "string",
            "example": "121324674-3116913"
          },
          "osa_kood": {
            "type": "string",
            "example": 3116913
          },
          "osaOper": {
            "type": "string",
            "example": "A"
          },
          "adsOid": {
            "type": "string",
            "example": "ER02059001"
          },
          "liik": {
            "type": "string",
            "example": "K"
          },
          "liikTxt": {
            "type": "string",
            "example": "Korter"
          },
          "tahis": {
            "type": "string",
            "example": 3
          },
          "nimetus": {
            "type": "string",
            "example": null
          },
          "markused": {
            "type": "string",
            "example": null
          },
          "id": {
            "type": "string",
            "example": 123456
          },
          "spun_id": {
            "type": "string",
            "example": 12345
          },
          "adob_id": {
            "type": "string",
            "example": 123456
          },
          "ads_esitamine": {
            "type": "string",
            "example": null
          },
          "dokumendil": {
            "type": "string",
            "example": null
          },
          "osaUpdated": {
            "type": "string",
            "example": "2020-06-11T16:03:54.976Z"
          },
          "aadress": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": 12661557
              },
              "ehos_id": {
                "type": "string",
                "example": 4096654
              },
              "oper": {
                "type": "string",
                "example": "U"
              },
              "aadr_id": {
                "type": "string",
                "example": "5796753"
              },
              "kuju_id": {
                "type": "string",
                "example": null
              },
              "ads_adr_id": {
                "type": "string",
                "example": "3491165"
              },
              "koodaadress": {
                "type": "string",
                "example": "377840614000001L300009PNKK7ZN0000"
              },
              "taisaadress": {
                "type": "string",
                "example": "Harju maakond, Tallinn, Põhja-Tallinna linnaosa, Soo tn 1b/2-30"
              },
              "lahiaadress": {
                "type": "string",
                "example": "Soo tn 1b/2-30"
              },
              "tase1_id": {
                "type": "string",
                "example": 37
              },
              "tase1_nimetus": {
                "type": "string",
                "example": "Harju maakond"
              },
              "tase2_id": {
                "type": "string",
                "example": 6769997
              },
              "tase2_nimetus": {
                "type": "string",
                "example": "Tallinn"
              },
              "tase3_id": {
                "type": "string",
                "example": 1603318
              },
              "tase3_nimetus": {
                "type": "string",
                "example": "Põhja-Tallinna linnaosa"
              },
              "tase4_id": {
                "type": "string",
                "example": null
              },
              "tase4_nimetus": {
                "type": "string",
                "example": null
              },
              "tase5_id": {
                "type": "string",
                "example": 1610620
              },
              "tase5_nimetus": {
                "type": "string",
                "example": "Põhja pst"
              },
              "tase6_id": {
                "type": "string",
                "example": null
              },
              "tase6_nimetus": {
                "type": "string",
                "example": null
              },
              "tase7_id": {
                "type": "string",
                "example": 2307758
              },
              "tase7_nimetus": {
                "type": "string",
                "example": "17b"
              },
              "tase8_id": {
                "type": "string",
                "example": null
              },
              "tase8_nimetus": {
                "type": "string",
                "example": null
              },
              "tase1_kood": {
                "type": "string",
                "example": 37
              },
              "tase2_kood": {
                "type": "string",
                "example": 784
              },
              "tekst": {
                "type": "string",
                "example": null
              }
            }
          },
          "ehitiseOsaPohiandmed": {
            "type": "object",
            "properties": {
              "tubadeArv": {
                "type": "string",
                "example": 4
              },
              "tualettruumide_arv": {
                "type": "string",
                "example": 1
              },
              "sissepaasuKorrus": {
                "type": "string",
                "example": 1
              },
              "pind": {
                "type": "string",
                "example": 117.1
              },
              "kooginish": {
                "type": "string",
                "example": 1
              },
              "koetavPind": {
                "type": "string",
                "example": 117.1
              },
              "valipindadePind": {
                "type": "string",
                "example": 11.3
              },
              "kook": {
                "type": "string",
                "example": 1
              }
            }
          },
          "ehitiseOsaTehnilisedNaitajad": {
            "type": "object",
            "properties": {
              "tehnilineNaitaja": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/osatehnilineNaitaja"
                }
              }
            }
          }
        }
      },
      "ehitiseOsadV3": {
        "type": "object",
        "properties": {
          "ehitiseOsa": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ehitiseOsaV3"
            }
          }
        }
      },
      "ehitiseOsaV3": {
        "type": "object",
        "properties": {
          "ehrKood": {
            "type": "string",
            "example": "121324674-3116913"
          },
          "osa_kood": {
            "type": "string",
            "example": 3116913
          },
          "osaOper": {
            "type": "string",
            "example": "A"
          },
          "adsOid": {
            "type": "string",
            "example": "ER02059001"
          },
          "liik": {
            "type": "string",
            "example": "K"
          },
          "liikTxt": {
            "type": "string",
            "example": "Korter"
          },
          "tahis": {
            "type": "string",
            "example": 3
          },
          "nimetus": {
            "type": "string",
            "example": null
          },
          "markused": {
            "type": "string",
            "example": null
          },
          "id": {
            "type": "string",
            "example": 123456
          },
          "spun_id": {
            "type": "string",
            "example": 12345
          },
          "adob_id": {
            "type": "string",
            "example": 123456
          },
          "ads_esitamine": {
            "type": "string",
            "example": null
          },
          "dokumendil": {
            "type": "string",
            "example": null
          },
          "kaosId": {
            "type": "string",
            "example": "11102"
          },
          "kaosKood": {
            "type": "string",
            "example": "11102"
          },
          "kaosNimetus": {
            "type": "string",
            "example": "Ridaelamu või kaksikelamu sektsioon (juhul kui on oma katus ja sissepääs maapinnalt)"
          },
          "osaUpdated": {
            "type": "string",
            "example": "2020-06-11T16:03:54.976Z"
          },
          "aadress": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": 12661557
              },
              "ehos_id": {
                "type": "string",
                "example": 4096654
              },
              "oper": {
                "type": "string",
                "example": "U"
              },
              "aadr_id": {
                "type": "string",
                "example": "5796753"
              },
              "kuju_id": {
                "type": "string",
                "example": null
              },
              "ads_adr_id": {
                "type": "string",
                "example": "3491165"
              },
              "koodaadress": {
                "type": "string",
                "example": "377840614000001L300009PNKK7ZN0000"
              },
              "taisaadress": {
                "type": "string",
                "example": "Harju maakond, Tallinn, Põhja-Tallinna linnaosa, Soo tn 1b/2-30"
              },
              "lahiaadress": {
                "type": "string",
                "example": "Soo tn 1b/2-30"
              },
              "tase1_id": {
                "type": "string",
                "example": 37
              },
              "tase1_nimetus": {
                "type": "string",
                "example": "Harju maakond"
              },
              "tase2_id": {
                "type": "string",
                "example": 6769997
              },
              "tase2_nimetus": {
                "type": "string",
                "example": "Tallinn"
              },
              "tase3_id": {
                "type": "string",
                "example": 1603318
              },
              "tase3_nimetus": {
                "type": "string",
                "example": "Põhja-Tallinna linnaosa"
              },
              "tase4_id": {
                "type": "string",
                "example": null
              },
              "tase4_nimetus": {
                "type": "string",
                "example": null
              },
              "tase5_id": {
                "type": "string",
                "example": 1610620
              },
              "tase5_nimetus": {
                "type": "string",
                "example": "Põhja pst"
              },
              "tase6_id": {
                "type": "string",
                "example": null
              },
              "tase6_nimetus": {
                "type": "string",
                "example": null
              },
              "tase7_id": {
                "type": "string",
                "example": 2307758
              },
              "tase7_nimetus": {
                "type": "string",
                "example": "17b"
              },
              "tase8_id": {
                "type": "string",
                "example": null
              },
              "tase8_nimetus": {
                "type": "string",
                "example": null
              },
              "tase1_kood": {
                "type": "string",
                "example": 37
              },
              "tase2_kood": {
                "type": "string",
                "example": 784
              },
              "tekst": {
                "type": "string",
                "example": null
              }
            }
          },
          "ehitiseOsaPohiandmed": {
            "type": "object",
            "properties": {
              "tubadeArv": {
                "type": "string",
                "example": 4
              },
              "tualettruumide_arv": {
                "type": "string",
                "example": 1
              },
              "sissepaasuKorrus": {
                "type": "string",
                "example": 1
              },
              "pind": {
                "type": "string",
                "example": 117.1
              },
              "kooginish": {
                "type": "string",
                "example": 1
              },
              "koetavPind": {
                "type": "string",
                "example": 117.1
              },
              "valipindadePind": {
                "type": "string",
                "example": 11.3
              },
              "kook": {
                "type": "string",
                "example": 1
              },
              "toatemp_pind": {
                "type": "string",
                "example": 15.5
              }
            }
          },
          "ehitiseOsaTehnilisedNaitajad": {
            "type": "object",
            "properties": {
              "tehnilineNaitaja": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/osatehnilineNaitaja"
                }
              }
            }
          },
          "ehitiseOsaTehnosysteemid": {
            "type": "object",
            "properties": {
              "energiaTehnosysteem": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/tehnosysteemV3"
                }
              }
            }
          }
        }
      },
      "ehitiseKujud": {
        "type": "object",
        "properties": {
          "ruumikuju": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ruumikuju"
            }
          }
        }
      },
      "ruumikuju": {
        "type": "object",
        "properties": {
          "ehrKood": {
            "type": "string",
            "example": 121324674
          },
          "kujuJnr": {
            "type": "string",
            "example": 1
          },
          "adsOid": {
            "type": "string",
            "example": "EE03114580"
          },
          "adobId": {
            "type": "integer",
            "example": 9980836
          },
          "viitepunktX": {
            "type": "string",
            "example": 505096.54
          },
          "viitepunktY": {
            "type": "string",
            "example": 6461352.92
          },
          "taisaadress": {
            "type": "string",
            "example": "Pärnu maakond, Pärnu linn, Seliste küla, Kupu"
          },
          "lahiaadress": {
            "type": "string",
            "example": "Kupu"
          },
          "kujuMoodustusviis": {
            "type": "string",
            "example": "D"
          },
          "kujuMoodustusviisTxt": {
            "type": "string",
            "example": "digitud"
          },
          "pindala": {
            "type": "string",
            "example": 236.4
          },
          "adsLiik": {
            "type": "string",
            "example": "EE"
          },
          "nahtus": {
            "type": "string",
            "example": "HOONE"
          },
          "nahtusTxt": {
            "type": "string",
            "example": "hoone"
          },
          "ehitiseKujuAadressid": {
            "type": "object",
            "properties": {
              "aadress": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/aadress"
                }
              }
            }
          },
          "sissepaasupunktid": {
            "type": "object",
            "properties": {
              "sissepaasupunkt": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/sissepaasupunkt"
                }
              }
            }
          },
          "geometry": {
            "type": "object",
            "properties": {
              "gml:Polygon": {
                "type": "object",
                "properties": {
                  "$": {
                    "type": "object",
                    "properties": {
                      "srcName": {
                        "type": "string",
                        "example": "SDO"
                      },
                      "xmlns:gml": {
                        "type": "string",
                        "example": "http://www.opengis.net/gml"
                      }
                    }
                  },
                  "gml:outerBoundaryIs": {
                    "type": "object",
                    "properties": {
                      "gml:LinearRing": {
                        "type": "object",
                        "properties": {
                          "gml:coordinates": {
                            "type": "object",
                            "properties": {
                              "_": {
                                "type": "string",
                                "example": "505088.51,6461364.49 505083.2,6461357.44 505104.55,6461341.34 505109.87,6461348.43 505088.51,6461364.49"
                              },
                              "$": {
                                "type": "object",
                                "properties": {
                                  "decimal": {
                                    "type": "string",
                                    "example": "."
                                  },
                                  "cs": {
                                    "type": "string",
                                    "example": ","
                                  },
                                  "ts": {
                                    "type": "string",
                                    "example": " "
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "geometryTxt": {
            "type": "string",
            "example": ";\\n6461364.49 505088.51\\n6461357.44 505083.20\\n6461341.34 505104.55\\n6461348.43 505109.87\\n6461364.49 505088.51\\n"
          },
          "geometryType": {
            "type": "string",
            "example": 3
          },
          "geometryTypeTxt": {
            "type": "string",
            "example": "pind"
          }
        }
      },
      "ehitiseKujud2": {
        "type": "object",
        "properties": {
          "ruumikuju": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ruumikuju2"
            }
          }
        }
      },
      "ruumikuju2": {
        "type": "object",
        "properties": {
          "nimetus": {
            "type": "string",
            "example": "maa alune kelder"
          },
          "hoone_kuju_id": {
            "type": "string",
            "example": 40999234
          },
          "oper": {
            "type": "string",
            "example": "A"
          },
          "nliik_kood": {
            "type": "string",
            "example": null
          },
          "ehit_id": {
            "type": "string",
            "example": 4236728
          },
          "sissepaasu_punkt": {
            "type": "string",
            "example": null
          },
          "ehrKood": {
            "type": "string",
            "example": 121324674
          },
          "kujuJnr": {
            "type": "string",
            "example": 1
          },
          "adsOid": {
            "type": "string",
            "example": "EE03114580"
          },
          "adobId": {
            "type": "integer",
            "example": 9980836
          },
          "viitepunktX": {
            "type": "string",
            "example": 505096.54
          },
          "viitepunktY": {
            "type": "string",
            "example": 6461352.92
          },
          "taisaadress": {
            "type": "string",
            "example": "Pärnu maakond, Pärnu linn, Seliste küla, Kupu"
          },
          "lahiaadress": {
            "type": "string",
            "example": "Kupu"
          },
          "kujuMoodustusviis": {
            "type": "string",
            "example": "D"
          },
          "kujuMoodustusviisTxt": {
            "type": "string",
            "example": "digitud"
          },
          "pindala": {
            "type": "string",
            "example": 236.4
          },
          "adsLiik": {
            "type": "string",
            "example": "EE"
          },
          "nahtus": {
            "type": "string",
            "example": "HOONE"
          },
          "nahtusTxt": {
            "type": "string",
            "example": "hoone"
          },
          "mkm_joonis": {
            "type": "string",
            "example": null
          },
          "date_updated": {
            "type": "string",
            "example": "2018-08-29T04:04:33.178Z"
          },
          "gis_kood": {
            "type": "string",
            "example": null
          },
          "ads_esitamine": {
            "type": "string",
            "example": "ADS_ESITATUD"
          },
          "geom_updated": {
            "type": "string",
            "example": "2018-08-29T04:04:33.000Z"
          },
          "tyhistatud_kp": {
            "type": "string",
            "example": null
          },
          "ehitiseKujuAadressid": {
            "type": "object",
            "properties": {
              "aadress": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/kujuaadress"
                }
              }
            }
          },
          "sissepaasupunktid": {
            "type": "object",
            "properties": {
              "sissepaasupunkt": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/sissepaasupunkt"
                }
              }
            }
          },
          "geometry": {
            "$ref": "#/components/schemas/geometry"
          },
          "geometryTxt": {
            "type": "string",
            "example": "Geomeetria punktid on geomeetria objektis"
          },
          "geometryType": {
            "type": "string",
            "example": "Geomeetri tüüp on geomeetria objektis"
          },
          "geometryTypeTxt": {
            "type": "string",
            "example": "Geomeetria tüüp on geomeetria objektis"
          },
          "kuju_liik": {
            "type": "string"
          }
        }
      },
      "geometry": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "Polygon"
          },
          "coordinates": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "number",
                  "example": 542066.95
                }
              }
            }
          }
        }
      },
      "geometry_old": {
        "type": "object",
        "properties": {
          "gml:Polygon": {
            "type": "object",
            "properties": {
              "$": {
                "type": "object",
                "properties": {
                  "srcName": {
                    "type": "string",
                    "example": "SDO"
                  },
                  "xmlns:gml": {
                    "type": "string",
                    "example": "http://www.opengis.net/gml"
                  }
                }
              },
              "gml:outerBoundaryIs": {
                "type": "object",
                "properties": {
                  "gml:LinearRing": {
                    "type": "object",
                    "properties": {
                      "gml:coordinates": {
                        "type": "object",
                        "properties": {
                          "_": {
                            "type": "string",
                            "example": "505088.51,6461364.49 505083.2,6461357.44 505104.55,6461341.34 505109.87,6461348.43 505088.51,6461364.49"
                          },
                          "$": {
                            "type": "object",
                            "properties": {
                              "decimal": {
                                "type": "string",
                                "example": "."
                              },
                              "cs": {
                                "type": "string",
                                "example": ","
                              },
                              "ts": {
                                "type": "string",
                                "example": " "
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "sissepaasupunkt": {
        "type": "object",
        "properties": {
          "viitepunktX": {
            "type": "string",
            "example": 6587784.76
          },
          "viitepunktY": {
            "type": "string",
            "example": 535518.19
          },
          "nimi": {
            "type": "string",
            "example": "ADS süsteemist loetud"
          },
          "moodustusviis": {
            "type": "string",
            "example": "S"
          }
        }
      },
      "ehitiseKatastriyksused": {
        "type": "object",
        "properties": {
          "ehitiseKatastriyksus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ehitiseKatastriyksus"
            }
          }
        }
      },
      "ehitiseKatastriyksus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": 1234567
          },
          "kayk_id": {
            "type": "string",
            "example": 1234567
          },
          "seostamiseViis": {
            "type": "string",
            "example": "D"
          },
          "kontrKp": {
            "type": "string",
            "example": "2020-09-09"
          },
          "oper": {
            "type": "string",
            "example": "A"
          },
          "katastritunnus": {
            "type": "string",
            "example": "82603:002:0219"
          },
          "lahiaadress": {
            "type": "string",
            "example": "Kupu"
          },
          "taisaadress": {
            "type": "string",
            "example": "Pärnu maakond, Pärnu linn, Seliste küla, Kupu"
          },
          "olek": {
            "type": "string",
            "example": "K"
          },
          "adob_id": {
            "type": "string",
            "example": 6650013
          },
          "adsoid": {
            "type": "string",
            "example": "CU02017796"
          }
        }
      },
      "ehitiseEnergiamargised": {
        "type": "object",
        "properties": {
          "energiamargis": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/energiamargis"
            }
          }
        }
      },
      "energiamargis": {
        "type": "object",
        "properties": {
          "ehEnergiaId": {
            "type": "string",
            "example": 149955
          },
          "ehEhitisId": {
            "type": "string",
            "example": 3665638
          },
          "hooneLiik": {
            "type": "string",
            "example": "ENHL_EHITIS_HOONE_LIIK_ELURUUM"
          },
          "hooneLiikTxt": {
            "type": "string",
            "example": "elamu"
          },
          "korteriteArv": {
            "type": "string",
            "example": 1
          },
          "taisaadress": {
            "type": "string",
            "example": null
          },
          "esmaneKasutus": {
            "type": "string",
            "example": null
          },
          "kaosIdPeamine": {
            "type": "string",
            "example": 11101
          },
          "kaosIdPeamineTxt": {
            "type": "string",
            "example": "Üksikelamu"
          },
          "rekoAasta": {
            "type": "string",
            "example": null
          },
          "energiaValjastNimi": {
            "type": "string",
            "example": "Structure Engineering OÜ, Maksim Zelenski"
          },
          "koetavPind": {
            "type": "string",
            "example": 148.5
          },
          "energiaValjastKp": {
            "type": "string",
            "format": "date-time",
            "example": "2012-05-22T00:00:00.000000"
          },
          "energiaValjastRegkood": {
            "type": "string",
            "example": 11549060
          },
          "energiaMargiseKp": {
            "type": "string",
            "format": "date-time",
            "example": "2017-02-02T00:00:00.000000"
          },
          "energiaKehtibKuniKp": {
            "type": "string",
            "example": null
          },
          "energiaKlass": {
            "type": "string",
            "example": "B"
          },
          "energiaKaalKasutus": {
            "type": "string",
            "example": null
          },
          "energiaInfoAllikas": {
            "type": "string",
            "example": null
          },
          "energiamargiseUlatus": {
            "type": "string",
            "example": null
          },
          "energiaTellija": {
            "type": "string",
            "example": null
          },
          "kommentaar": {
            "type": "string",
            "example": null
          },
          "aadrId": {
            "type": "string",
            "example": null
          },
          "etaKekVal": {
            "type": "string",
            "example": null
          },
          "etaKekType": {
            "type": "string",
            "example": null
          },
          "dok_nr": {
            "type": "string",
            "example": "1711569/02673"
          },
          "dokLiik": {
            "type": "string",
            "example": "Registrisse kandmata hoone energiaarvutusel põhinev energiamärgise teatis"
          },
          "seisund": {
            "type": "string",
            "example": "DO_DOKUSEIS_REG_KANTUD"
          },
          "energiaDokuId": {
            "type": "string",
            "example": "25394113"
          },
          "energiatehnad": {
            "type": "object",
            "properties": {
              "energiatehna": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/energiatehna"
                }
              }
            }
          },
          "energiakasutused": {
            "type": "object",
            "properties": {
              "energiaKandja": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/energiaKandja"
                }
              }
            }
          }
        }
      },
      "osadV3": {
        "type": "string",
        "example": 3665638
      },
      "ehitiseEnergiamargisedV3": {
        "type": "object",
        "properties": {
          "energiamargis": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/energiamargisV3"
            }
          }
        }
      },
      "energiamargisV3": {
        "type": "object",
        "properties": {
          "ehEhitisId": {
            "type": "string",
            "example": 3665638
          },
          "enMargisId": {
            "type": "string",
            "example": 3665638
          },
          "osaKood": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/osadV3"
            }
          },
          "dokNr": {
            "type": "string",
            "example": "1711569/02673"
          },
          "dotyId": {
            "type": "string",
            "example": "11566"
          },
          "dokNimetus": {
            "type": "string",
            "example": "Registrisse kandmata hoone energiaarvutusel põhinev energiamärgise teatis"
          },
          "dokSeisund": {
            "type": "string",
            "example": "DO_DOKUSEIS_REG_KANTUD"
          },
          "etaKekVal": {
            "type": "string",
            "example": null
          },
          "etaKekType": {
            "type": "string",
[...]
